<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <%= image_tag @player.image_url %>
</p>

<p>
  <%= "in #{pluralize(@player_squads.count, "team")}" %>
  <% if @player_squads.present? %>
    <% @player_squads.first.squads.each do |squad| %>
      <p>
        <%= link_to squad.name, squad_path(squad) %>
        <% team = @teams.find {|x| x.squad_id == squad.id} %>
        <%= team.position_string if team.present? %>
      </p>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
