<%= form_for(@squad) do |f| %>
  <% if @squad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@squad.errors.count, "error") %> prohibited this squad from being saved:</h2>

      <ul>
      <% @squad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :formation %><br>
    <%= f.text_field :formation %>
  </div>
  
  <% array = %w(defender midfielder striker) %>
  
  <%= f.fields_for :teams do |builder| %>
    <div class="field">
      <%= Team.get_position_string(builder.index) %>       
      <%= builder.collection_select(:player_id, Player.all, :id, :name, {prompt: "select player"}) %>
      <%= builder.hidden_field :position_string %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
