<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @squad.name %>
</p>

<p>
  <strong>Formation:</strong>
  <%= @squad.formation %>
</p>

<% @squad.players.each_with_index do |player,index| %>
  <p>
    <%= Team.get_position_string(index) %>:   
      <%= player.name %>
      <%= image_tag(player.image_url) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_squad_path(@squad) %> |
<%= link_to 'Back', squads_path %>
